@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a el curso de Az-204</h1>
    <h2>Mi nombre es Mct. Esteban Calabria a vuestro servicio</h2>
    <h3>Segundo Deplot</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
